
/* ================= user-defined sections ====================== */

/* 1. social-media section */
.social-media{
  background-color: #eee;
}

/* 2. header section */
@media (max-width: 1202px) {                  
   .my-header {
      display: none;
   }
}

/* 3. nav-bar section */

/* 6. welcome section */
.welcome-section {
  background-color: #eeeeee;
}

/* 8. short-info section */
.short-info {
  background-color: #08a793;
  color: white;
}

/* 10. carousel section */
.my-carousel {
  background-color: #eeeeee;
}

/*indicator transparent on tablets and smaller devices*/
.carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color:rgba(0,0,0,0);
}

/*indicator opaque on laptop and larger devices*/
@media (min-width: 992px) {
  .carousel-indicators {
    bottom: -5%;
    right: 36%;
  }

  .carousel-indicators li{
    background-color: #707070;
  }
}

/* 11. email-submission section */
.email-submission{
  background-color:#30448B;
  color:white;
  padding: 20px 10px 10px 10px;
}

/* 12. footer section */
.pg-footer{
  background-color: #eeeeee;
}

/* ============================ global =========================== */

/* ----- tags ----- */

section {
  padding: 20px 0px;
}

a{
  color:black;
}

/* -----  bootstrap classes -----  */
.navbar{
  background-color:#30448B;
}

/* -----  user-defined id/classes -----  */

.my-icon{
  width:45px;
  height:45px;
}

.my-btn-container{
  height:100px;
}

.my-btn{
  height:100%;
}
/*
NOTES:

1. Use visible-* and hidden-* classes to use two different containers.
*/